<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RogueForumDAO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RogueForumDAO.Properties.Settings>
            <setting name="InfoConnexion" serializeAs="String">
                <value>Data Source=176.31.114.215;Initial Catalog=user09;Persist Security Info=True;User ID=user09;Password=951user09</value>
            </setting>
        </RogueForumDAO.Properties.Settings>
    </applicationSettings>
</configuration>